ReqOneApiReference/Service References/ReqOneApi/RequirementOneApiSOAP122.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ReqOne.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReqOne.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57154/RequirementOneApiSOAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:57154/RequirementOneApiSOAP.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ReqOne.Common" />
  <xs:complexType name="ExternalLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LinkUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectType" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReqOne.Common" minOccurs="0" name="Type" type="q1:ExternalLinkType" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalLink" nillable="true" type="tns:ExternalLink" />
  <xs:complexType name="ArrayOfExternalLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalLink" nillable="true" type="tns:ExternalLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalLink" nillable="true" type="tns:ArrayOfExternalLink" />
</xs:schema>