ReqOneApiReference/Service References/ReqOneApi/RequirementOneApiSOAP121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccessAndRefreshTokenInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefreshToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondsUntilExpiry" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessAndRefreshTokenInfo" nillable="true" type="AccessAndRefreshTokenInfo" />
  <xs:complexType name="AccessTokenInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondsUntilExpiry" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessTokenInfo" nillable="true" type="AccessTokenInfo" />
</xs:schema>