ReqOneApiReference/Service References/ReqOneApi/RequirementOneApiSOAP125.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReqOne.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReqOne.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequirementOneFaultDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequirementOneFaultDetails" nillable="true" type="tns:RequirementOneFaultDetails" />
</xs:schema>